.navbar1 {
    position: fixed;
    min-height: 55px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
    border-bottom: 1px solid #afafaf;
    width: 100%;
    z-index: 999999;
    background-color: #ffffff;
}

.iconColor{
    color: #afafaf;
}

.contain_profile {
    /* color: #fff; */
    max-width: 161px;
    text-align: center;
    min-width: 150px;
    /* border-radius: 4px; */
    transition: all ease 0.2s;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contain_profile > span {
    /* white-space: pre; */
    max-width: 100px;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
}

.profile_circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
}

.userNameNav {
    display: inline-block;
    white-space: nowrap;
    max-width: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.down_icon {
    display: inline-block;
    /* background-image: url('../images/dropDown.svg'); */
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    vertical-align: middle;
    margin-left: 8px;
}

.contain_profile.open .down_icon {
    transform: rotate(180deg);
    transition: transform ease 0.2s;
}


#loginOptions {
    z-index: -1;
    /* background-color: rgb(5, 21, 87); */
    padding: 0;
    margin: 0;
    margin-top: -57px;
    /* margin-left: -18px; */
    /* margin-right: 48px; */
    padding-top: 70px;
    /* left: -4px; */
    overflow: hidden;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 12px;
    width: 155px;
    max-width: 155px;
}

.notificationCount{
    height: 15px;
    width: 15px;
    background-color: #e80909;
    position: absolute;
    color: #ffff;
    border-radius: 50%;
    text-align: center;
    line-height: initial;
    left: 25px;
    top: 10px;
    font-size: 10px;
    padding: 2px;
}

.sidebar {
    /* background: #002147; */
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    z-index: 10;
    position: fixed;
    width: 223px;
    /* 74px; */
    /* 223px; */
    margin-top: 60px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    top: 0;
    z-index: 999;
    position: fixed;
  }

 ul{
  /* list-style-type: none;
  padding-left: 0;
  font-size: 12px; */
  }

  ul li{
    /* line-height:16px;
    padding: 5px 0px; */
    /* padding: 14px 0 14px 38px; */
    /* color: #7b7b7b; */
  }

 ul li:hover{
    /* background-color:#eee; */
  }

  /* .sidebar i, .sidebar img {
    width: 20px;
    font-size: 20px;
    margin-left: -34px;
    position: absolute;
  } */
  
  .sidebar label{

  }

  .active{
      color:#000 !important;
  }

  .logo{
    width: 223px;
    float: left;
    height: 60px;
    background-color: #404040;
    margin-top: -1px;
    margin-left: -16px;
    color: #d6d6d6;
  }

  .main-content {
    /* padding-left: 250px; */
    /* display: inline-block;
    height: 100%;
    min-height: 230px;
    width: 100%;
    padding-right: 25px;
    padding-top: 25px;
    margin-top: 60px; */
  }

  .heading{
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    color: #7b7b7b;
    padding-bottom: 15px;
  }
  .taskContainer{
    width: 100%;
    height: 122px;
    margin-bottom: 15px;
  }
  .taskDiv{
    /* width: 140px; */
    border: 1px solid #d8d8d8;
    /* float: left; */
    /* height: 100%; */
    margin-right: 15px;
    padding: 10px;
    position: relative;
  }

  .summaryDiv{
    width: 450px;
    border: 1px solid #d8d8d8;
    float: left;
    height: 100%;
    /* padding: 10px;    */
  }

  .taskDiv img ,  .taskDiv i{
    width: 50px;
    font-size: 50px;
    color:#c7c6c6;
    position: absolute;
    right: 10px;
    top: 37px;
  }

  .space{
      margin-top: 17px !important;
  }

  .smallLbl{
    font-size: 11px;
    font-weight: 100;
    display: block;
    margin: 0;
    color: #7b7b7b;
  }

  .count{
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    display: block;
  }

  .itemName{
    font-size: 16px;
    font-weight: 600;
  }

  .summaryDiv label{
    padding: 10px;
    margin: 0;
  }

  .summaryContent{
    border-top: 1px solid #c7c6c6;
  }

  .summaryContent label{
    margin-right: 72px;
    width: 210px;
    color: #908d8d;
    font-weight: 500;
}

.summaryContent span{
    /* padding-right: 110px; */
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* ----------------------side nav---------------------- */

.sideNav{
  background-color: #1f1f1f;
  padding: 15px !important;
  height:100vh;
  position:sticky !important;
  top:0;
}

.userDetails{
  display: flex;
    flex-direction: column;
    margin-bottom: 25px;
   
}

.userDetails span{
 margin: 0;
 /* font-family: Poppins; */
 font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: rgba(235, 235, 235, 0.5);
}
.userDetails .signOut{
color: #69cdff;
font-size: 10px;
}
.sideNavLink{
  color: rgba(235, 235, 235, 0.5);
  font-size: 12px;
  border-left: 1px solid;
  padding: 10px 12px;
  /* background: red; */

}

.menuList a:first-child{
  padding-top: 0 !important;
}

/* .menuList a:first-of-type { color: red; } */

.menuList{
  display: flex;
    flex-direction: column;
    font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgba(238, 238, 238, 0.5);
}

.menuList span{
  margin-bottom: 20px;
}

/* .menuList a{
  
} */

.menuList a:hover, .menuList a:active, .menuList a:visited{
  color: rgba(238, 238, 238, 0.5);
  text-decoration: none;
}

.header{
  /* background-color: #1f1f1f; */
  padding: 15px !important;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f2f2f2;
  display: flex;
    flex-direction: column;
    padding-bottom: 0px !important;
}

.header span:first-child{
  color: #69cdff;
  font-size: 10px;
  }

  .searchBar{
    /* background-color: #1f1f1f; */
    color: #f2f2f2;
    position: sticky !important;
    z-index: 9999;
    background: #121212;
    top: 0;
    padding-top: 15px;
  }

  .main-content{
    background-color: #121212;
    color: #f2f2f2;
    padding: 20px !important;
    /* margin-left:225px; */
  }

  .btn{
    border: 1px solid #0f6ebe;
    color: #ebebeb;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 2px;
    background-color: #0f6ebe;
    font-weight: 500;
  }

  .btn.focus, .btn:focus, .btn:hover{
    color: #ebebeb;
    background-color: #0f6ebe;
  }

  .search-address{
    display:flex;
    flex-direction:column;
    font-size: 10px;
    color: rgba(238, 238, 238, 0.5);
    font-weight:300;
  }

  .address-name{
    color: #f2f2f2;
    font-size:16px;
    font-weight:500
  }

  .search-icon{
display: flex;
    justify-content: center;
    align-items: center;
  }

  .line-break{
opacity: 0.24;
    background-color: #ebebeb;
    height: 1px;
    margin: 15px 0px;
  }

  .list-doctor{
background-color: #1f1f1f;
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    position: relative;
    padding: 10px 46px;
    
  }
  .list-doctor span{
display: flex;
    font-size: 12px;
    align-items: center;
  }


  .doc-img{
    position: absolute;
    top: 11px;
    left: 8px;
  }

  .lbl{
    line-height: 1.2;
    letter-spacing: 1px;
    color: rgba(242, 242, 242, 0.5);
    font-size: 10px;
  }

  .doctor-name{

  }

  .doctor-type{
font-size: 10px !important;
    color: rgba(255, 255, 255, 0.6);
}

  .icon {
left: auto !important;
    right: 9px;
    top: 21px !important;
    cursor:pointer;
  }

  .search{
    background-color: #1f1f1f;
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    position: relative;
  }

  .search img{
position: absolute;
    top: 12px;
    left: 10px;
  }

    .search input{
background: transparent;
    border: none;
    outline: none;
    padding: 15px 10px 15px 42px;
    font-size:12px;
    width:100%;
  }

  form{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  form input{
background-color: #2e2e2e;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 2px;
  }

  .inp-container{
    display:flex;
    justify-content: space-between;
}

  .inp-container input{ 
    width: 48%;
  }

  .no-provider{
    background-color: #1f1f1f;
    padding: 1em;
  }

  .no-provider p{
    margin-bottom: 1px;
    color: #f2f2f2;
    opacity: 0.5;
    font-size: .9em;
    line-height: 1.33;
  }

  .no-provider p:last-child{
    color: #df7833;
    opacity: 1;
  }

  .table {
    width: 100%;
  }

  .table thead tr td {
    line-height: 1.2;
    letter-spacing: 1px;
    color: rgba(242, 242, 242, 0.5);
    font-size: 10px;
    padding: 6px 15px;
    text-align: center;
  }

  .table tbody tr {
  }

  .table tbody tr td {
    padding: 15px;
    background-color: #2e2e2e;
  }  

  .table tbody tr td label {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.33;
    display: block;
  }  
  .table tbody tr td label span{
    border-radius: 15px;
    padding: 3px 6px;
    border: solid 0.5px rgba(235, 235, 235, 0.8);
    margin-left: 10px;
    font-size: 10px;
  }
  .table tbody tr td span {
    font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
  }  

  .table tbody tr td span img{
    margin-right: 5px;
  }

  .mediBupa{

  }

  .table td:nth-child(2),.table td:nth-child(3)  { 
    text-align: right;
   }

   .table td:nth-child(2) span,.table td:nth-child(3) span  { 
margin-right: 0;
   }

   .table-action{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
   }

   .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
     vertical-align: inherit;
   }

   .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
     border-top: 0;
     
   }

   .table>tbody>tr>td {
    border-bottom: 1px solid #121212;
   }